/*
 * Estilos para sitio web del DrupalCamp CR 2015
 *
 */

// Bibliotecas
@import "bourbon";
@import "neat";

// Google fonts

// Source Sans Pro
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic);
// Lato
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// Parciales

@import "partials/variables";
@import "partials/mixins";
@import "partials/placeholders";
@import "partials/base";
@import "partials/layout";