node_modules
vendor
.aquifer
.vagrant

build/*
!build/.gitkeep

modules/README.txt
themes/README.txt
modules/contrib
themes/contrib

files/*
!files/.gitkeep

settings.local.php
settings.secret.php
config.yml

.aquifer/node_modules
