.user-profile {
  .group-left {
    width: auto;
    @include media($tablet) {
      @include span-columns(3 of 10);
    }
  }
  .group-right {
    width: auto;
    @include media($tablet) {
      @include span-columns(7 of 10);
    }
  }
  .field {
    margin-bottom: 10px;
  }
}