@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/*
 * Estilos para sitio web del DrupalCamp CR 2015
 *
 */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.pane-dccr-blocks-dccr-social-block-sidebar ul li, .pane-views-tracks-block .track-name, .register-step, .pane-dccr-blocks-dccr-social-block-sidebar .pane-title, .pane-dccr-blocks-dccr-social-block-sidebar .pane-content {
  display: inline-block;
  vertical-align: top; }

.tabs li, .language-switcher-block li, .user-options li, .front-sponsors .item-list li, .pane-dccr-blocks-dccr-social-block-sidebar ul li, .pane-views-tracks-block .track-name, .pane-dccr-blocks-dccr-faq-block ul li, .pane-dccr-blocks-dccr-important-dates li, .pane-views-sponsors-sponsors-block .views-row {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.pane-dccr-blocks-dccr-social-block-sidebar ul li, .pane-views-tracks-block .track-name {
  margin: 0 0 0 -4px; }

.front-community .pane-title, .pane-views-tracks-block .pane-title, .pane-dccr-blocks-dccr-faq-block .pane-title, .pane-dccr-blocks-dccr-important-dates .pane-title, .pane-dccr-ftr-sponsors-sponsors-info .pane-title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: uppercase; }

html {
  font-size: 62.5%;
  color: #3c3c44;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0; }

a {
  text-decoration: none;
  color: #288f6d; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: normal;
  font-family: "Lato", sans-serif; }

p {
  margin: 0 0 15px; }

img {
  max-width: 100%;
  height: auto; }

.main-content {
  background: #F7F7F7;
  overflow: hidden; }
  .front .main-content {
    background: transparent; }

.main-content-limiter {
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px; }
  @media screen and (min-width: 601px)  {
    .main-content-limiter {
      padding: 40px 20px; } }
  .front .main-content-limiter {
    padding: 0;
    max-width: none; }

@media screen and (min-width: 601px)  {
  .panel-2col .panel-panel {
    display: inline-block;
    vertical-align: top; } }
.panel-2col .panel-col-first {
  margin-bottom: 30px; }
  @media screen and (min-width: 601px)  {
    .panel-2col .panel-col-first {
      width: 62%;
      margin-right: 9%;
      margin-bottom: 0; } }
@media screen and (min-width: 601px)  {
  .panel-2col .panel-col-last {
    width: 28%; } }

.front .panel-separator {
  margin: 0; }

.comunidad-block .view-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
  overflow: hidden;
  padding: 40px 10px; }
  .comunidad-block .view-content::after {
    clear: both;
    content: "";
    display: table; }
  .comunidad-block .view-content .comunidad-superior {
    clear: both;
    display: block;
    overflow: hidden;
    margin: 10px auto;
    text-align: center; }
  .comunidad-block .view-content .comunidad-inferior {
    clear: both;
    display: block;
    overflow: hidden;
    margin: 10px auto;
    text-align: center; }
  .comunidad-block .view-content .views-row {
    display: inline;
    padding: 6px 12px; }

.patrocinadores-block .view-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .patrocinadores-block .view-content::after {
    clear: both;
    content: "";
    display: table; }
  .patrocinadores-block .view-content .views-row {
    float: left;
    width: 20%;
    margin: 2% 3.3%;
    text-align: center; }
    .patrocinadores-block .view-content .views-row:nth-child(odd):nth-child(4n+1) {
      margin-left: 0; }
    .patrocinadores-block .view-content .views-row:nth-child(even):nth-child(4n) {
      margin-right: 0; }

.main-header {
  border-bottom: 8px solid #33B78B;
  padding-bottom: 20px;
  overflow: hidden; }
  @media screen and (min-width: 601px)  {
    .main-header {
      background: url(../images/nubes.jpg) no-repeat top center;
      padding-bottom: 70px; } }

.header-content {
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px; }
  @media screen and (min-width: 601px)  {
    .header-content {
      padding: 170px 20px 80px; } }

.boton-basico {
  background: #E35534;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center; }
  .boton-basico:after {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid white;
    content: "";
    font-size: 1px;
    text-align: right;
    margin: 5px 0 0 10px;
    display: inline-block;
    vertical-align: top; }
  .boton-basico:hover {
    background: #c83c1c; }

body {
  font-size: 14px;
  font-size: 1.4rem; }
  @media screen and (min-width: 601px)  {
    body {
      font-size: 16px;
      font-size: 1.6rem; } }

.logo-container {
  text-align: center;
  color: #33B78B;
  margin-bottom: 30px;
  border-bottom: solid 1px #ddd;
  padding-bottom: 20px;
  position: relative;
  z-index: 5; }
  .logo-container:before, .logo-container:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #ddd;
    border-radius: 100%;
    position: absolute;
    bottom: -3px; }
  .logo-container:before {
    left: 0; }
  .logo-container:after {
    right: 0; }
  @media screen and (min-width: 601px)  {
    .logo-container {
      position: absolute;
      left: 50%;
      top: 70px;
      margin-left: -150px;
      margin-bottom: 0; } }

.logo-site-name {
  width: 149px;
  height: 134px;
  display: inline-block; }
  @media screen and (min-width: 601px)  {
    .logo-site-name {
      height: 179px; } }

.logo-site-name-link {
  width: 149px;
  height: 134px;
  display: inline-block;
  background: url(../logo.png) no-repeat top center;
  background-size: 112px 134px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap; }
  @media screen and (min-width: 601px)  {
    .logo-site-name-link {
      height: 179px;
      background-size: 149px 179px; } }

.event-logo-date, .event-logo-location {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  font-weight: bold; }
  @media screen and (min-width: 601px)  {
    .event-logo-date, .event-logo-location {
      font-size: 26px;
      font-size: 2.6rem; } }

.pane-block {
  border-bottom: solid 1px #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .pane-block:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0; }

table {
  border-collapse: collapse; }

th {
  border-bottom: 1px solid #ddd;
  padding-right: 1em;
  /* LTR */
  text-align: left;
  /* LTR */
  padding: 10px 5px;
  background: #e1e1e1; }

tbody {
  border-top: 0; }

tr.even, tr.odd {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em; }

td {
  padding: 10px 5px; }

@media (max-width: 601px) {
  .proposed-sessions-list table, .proposed-sessions-list tr, .proposed-sessions-list td, .proposed-sessions-list th, .proposed-sessions-list thead, .proposed-sessions-list tbody {
    display: block;
    width: 100%;
    text-align: left; }
  .proposed-sessions-list th {
    display: none; }
  .proposed-sessions-list tr {
    padding: 0; }
  .proposed-sessions-list td {
    padding: 3px;
    font-size: 12px;
    font-size: 1.2rem; }
  .proposed-sessions-list .views-field-title {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold; } }

/* #global forms */
label, .webform-container-inline label {
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 8px; }

label.option {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-left: 0.5em; }

select {
  font-size: 12px;
  font-size: 1.2rem;
  width: 100%; }

@media screen and (min-width: 601px)  {
  .page-node-add-dccr-session .form-type-select {
    max-width: 300px; } }

input[type="text"], input[type="email"], input[type="password"], textarea {
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 3px;
  border: solid #e1e1e1 1px;
  background: #fff;
  margin-bottom: 5px;
  padding: 5px; }

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%; }
  @media screen and (min-width: 601px)  {
    input[type="text"], input[type="email"], input[type="password"] {
      max-width: 300px; } }

input[type="checkbox"], input[type="radio"] {
  font-size: 16px;
  font-size: 1.6rem;
  vertical-align: baseline; }

input[type="submit"] {
  font-size: 15px;
  font-size: 1.5rem;
  background: #E35534;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border: 0;
  outline: 0;
  padding: 8px 25px;
  width: 100%;
  margin-bottom: 10px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  input[type="submit"]:after {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #fff;
    content: "";
    font-size: 1px;
    text-align: right;
    margin: 5px 0 0 10px;
    display: inline-block;
    vertical-align: top; }
  input[type="submit"]:hover {
    background: #c83c1c; }
  @media screen and (min-width: 601px)  {
    input[type="submit"] {
      width: auto;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0; } }
  input[type="submit"]:after {
    content: "▸";
    margin-left: 0.5em; }

.form-type-radio {
  margin-bottom: 5px; }

.field-widget-text-textarea .form-type-textarea {
  margin-bottom: 10px; }

.filter-wrapper {
  border: 0;
  background: #fff;
  border-radius: 5px; }

.page-node-add-dccr-session .form-item {
  margin: 1.6em 0; }
  .page-node-add-dccr-session .form-item label {
    font-size: 1.3em; }
.page-node-add-dccr-session .field-name-field-speakers table {
  background: #f2f2f2;
  border: none;
  border-radius: 2px;
  width: 100%; }
  .page-node-add-dccr-session .field-name-field-speakers table .form-item .form-required {
    display: none; }
.page-node-add-dccr-session .field-name-field-speakers .field-add-more-submit {
  margin: 1.5em 0; }

.tabs {
  padding-left: 0; }
  .tabs li {
    display: block;
    margin-bottom: 10px; }
    @media screen and (min-width: 601px)  {
      .tabs li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 0; } }
  .tabs a {
    font-size: 14px;
    font-size: 1.4rem;
    font-size: 15px;
    font-size: 1.5rem;
    background: #e1e1e1;
    border-radius: 3px;
    cursor: pointer;
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    text-align: left; }
    .tabs a:hover {
      background: #c8c8c8; }
    .tabs a:hover {
      color: #000; }
    .tabs a.active {
      background: #33B78B;
      color: #fff; }

#block-menu-menu-left-menu {
  width: 50%;
  float: left;
  position: relative;
  z-index: 10; }
  @media (min-width: 500px) {
    #block-menu-menu-left-menu {
      width: 30%; } }
  @media (min-width: 800px) {
    #block-menu-menu-left-menu {
      width: 45%; } }

#block-menu-menu-right-menu {
  width: 40%;
  float: right;
  position: relative;
  z-index: 10; }
  @media (min-width: 500px) {
    #block-menu-menu-right-menu {
      width: 30%; } }
  @media (min-width: 800px) {
    #block-menu-menu-right-menu {
      width: 45%; } }
  #block-menu-menu-right-menu ul {
    float: right; }

.header-content .menu {
  overflow: hidden;
  margin: 0;
  padding-left: 0; }
  .header-content .menu li {
    font-size: 15px;
    font-size: 1.5rem;
    list-style: none;
    margin: 0 2px 5px;
    padding: 0; }
    @media screen and (min-width: 601px)  {
      .header-content .menu li {
        float: left;
        margin: 0 2px 5px; } }
    .header-content .menu li a {
      color: black;
      display: inline-block;
      padding: 5px 10px; }
  .header-content .menu li:hover a, .header-content .menu li a.active {
    background: #E2E5E4;
    border-radius: 4px; }

.utility-bar {
  background: #3C3C44;
  padding: 10px;
  overflow: hidden;
  text-align: right; }

.utility-bar-content {
  max-width: 1020px;
  margin: 0 auto; }

#block-dccr-blocks-dccr-login-link {
  overflow: hidden;
  display: inline-block;
  vertical-align: top; }

.login-link-block a {
  font-size: 15px;
  font-size: 1.5rem;
  background: #33B78B;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
  display: inline-block;
  padding: 3px 8px;
  float: right; }
  .login-link-block a:after {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #fff;
    content: "";
    font-size: 1px;
    text-align: right;
    margin: 5px 0 0 10px;
    display: inline-block;
    vertical-align: top; }
  .login-link-block a:hover {
    background: #288f6d; }

.language-switcher-block, .user-options {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px; }
  .language-switcher-block h2, .user-options h2 {
    display: none; }
  .language-switcher-block .menu, .user-options .menu {
    padding-left: 0;
    margin: 0; }
  .language-switcher-block li, .user-options li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; }
    .language-switcher-block li:last-child, .user-options li:last-child {
      margin-right: 0; }
  .language-switcher-block a, .user-options a {
    color: #47cca0;
    font-size: 14px;
    font-size: 1.4rem; }

.event-footer {
  background: #3C3C44;
  padding: 55px 15px;
  color: #33B78B;
  text-align: center; }

.event-footer-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1.6rem; }

.event-footer-description:after {
  content: '';
  display: block;
  border-bottom: solid 1px #8A8A8F;
  width: 20px;
  margin: 20px auto 0; }

.event-footer-contact-email {
  color: #33B78B; }

.page-title, #block-dccr-blocks-proposed-sessions-header h2 {
  font-weight: normal;
  border-bottom: solid 1px #33B78B;
  padding-bottom: 15px;
  margin-bottom: 20px; }

.page-register .panel-separator {
  display: none; }

.register-step {
  padding: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%; }
  @media screen and (min-width: 601px)  {
    .register-step {
      width: 30%;
      margin-bottom: 10px;
      font-size: 13px;
      font-size: 1.3rem; } }
  .register-step:before {
    background: #E35534;
    border-radius: 100%;
    content: '';
    display: block;
    color: #fff;
    font-size: 40px;
    font-size: 4rem;
    line-height: 65px;
    width: 65px;
    height: 65px;
    margin: 0 auto 15px; }

.register-step-first:before {
  content: '1'; }

.register-step-second:before {
  content: '2'; }

.register-step-third:before {
  content: '3'; }

.register-includes {
  border-top: solid 1px #e1e1e1;
  padding-top: 20px; }

.register-investment {
  background: #D1ECE4;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px; }

.register-create-block a {
  font-size: 15px;
  font-size: 1.5rem;
  background: #3C3C44;
  border-radius: 3px;
  cursor: pointer;
  color: #EAEA63;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  padding: 30px 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 2rem; }
  .register-create-block a:after {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #EAEA63;
    content: "";
    font-size: 1px;
    text-align: right;
    margin: 5px 0 0 10px;
    display: inline-block;
    vertical-align: top; }
  .register-create-block a:hover {
    background: #242429; }

.pane-hero-banner {
  background-color: #F7F7F7; }
  @media screen and (min-width: 601px)  {
    .pane-hero-banner {
      background: #F7F7F7 url(../images/encabezado-fondo.jpg) top center no-repeat; } }

.event-introduction {
  max-width: 620px;
  margin: 0 auto;
  padding: 20px 20px; }
  @media screen and (min-width: 601px)  {
    .event-introduction {
      padding: 60px 20px; } }

.event-introduction-title {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center; }
  @media screen and (min-width: 601px)  {
    .event-introduction-title {
      font-size: 30px;
      font-size: 3rem; } }

.event-introduction-description {
  font-size: 18px;
  font-size: 1.8rem;
  border-bottom: solid 1px #e1e1e1;
  text-align: center;
  max-width: 450px;
  padding: 0 0 30px;
  margin: 0 auto 30px; }
  @media screen and (min-width: 601px)  {
    .event-introduction-description {
      font-size: 22px;
      font-size: 2.2rem; } }

.event-introduction-ctas {
  overflow: hidden;
  margin-bottom: 30px; }

.event-cta {
  text-align: center;
  margin-bottom: 20px; }
  @media screen and (min-width: 601px)  {
    .event-cta {
      margin-bottom: 0; } }

@media screen and (min-width: 601px)  {
  .event-cta-workshops {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 48.2106681966%; }
    .event-cta-workshops:last-child {
      margin-right: 0; } }

@media screen and (min-width: 601px)  {
  .event-cta-conferences {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 48.2106681966%; }
    .event-cta-conferences:last-child {
      margin-right: 0; } }

.event-cta-description {
  font-size: 18px;
  font-size: 1.8rem; }
  @media screen and (min-width: 601px)  {
    .event-cta-description {
      height: 40px; } }

.event-cta-link {
  background: #E35534;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center; }
  .event-cta-link:after {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #fff;
    content: "";
    font-size: 1px;
    text-align: right;
    margin: 5px 0 0 10px;
    display: inline-block;
    vertical-align: top; }
  .event-cta-link:hover {
    background: #c83c1c; }
  @media screen and (min-width: 601px)  {
    .event-cta-link {
      display: inline-block; } }

.event-introduction-register {
  text-align: center; }

.event-register-link {
  background: #3C3C44;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center; }
  .event-register-link:after {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #fff;
    content: "";
    font-size: 1px;
    text-align: right;
    margin: 5px 0 0 10px;
    display: inline-block;
    vertical-align: top; }
  .event-register-link:hover {
    background: #242429; }
  @media screen and (min-width: 601px)  {
    .event-register-link {
      display: inline-block; } }

.location-map-container {
  margin: 0 auto;
  position: relative;
  padding: 20px 0; }
  @media screen and (min-width: 601px)  {
    .location-map-container {
      width: 90%; } }

.front-community {
  background: #3C3C44 url(../images/comunidad-fondo.jpg) no-repeat top center;
  text-align: center;
  margin-bottom: 40px; }
  .front-community .pane-title {
    color: #fff;
    color: #fff;
    padding: 40px 0 0 0;
    font-size: 23px;
    padding-bottom: 10px;
    border-bottom: solid 3px #000;
    display: inline-block; }
  .front-community .more-link {
    margin-bottom: 40px;
    text-align: center; }
    .front-community .more-link a {
      background: #E35534;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      cursor: pointer;
      display: block;
      font-size: 15px;
      font-size: 1.5rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      text-align: center;
      display: inline-block; }
      .front-community .more-link a:after {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 7px solid #fff;
        content: "";
        font-size: 1px;
        text-align: right;
        margin: 5px 0 0 10px;
        display: inline-block;
        vertical-align: top; }
      .front-community .more-link a:hover {
        background: #c83c1c; }
  .front-community .view-content {
    max-width: 870px;
    margin: 0 auto 20px; }
    @media screen and (min-width: 601px)  {
      .front-community .view-content {
        margin: 0 auto;
        padding: 50px 20px; } }
  .front-community .views-row {
    width: 25%;
    margin: 10px;
    display: inline-block;
    vertical-align: top; }
    @media screen and (min-width: 601px)  {
      .front-community .views-row {
        width: 16%;
        margin: 0 25px 25px 0; }
        .front-community .views-row:nth-child(5n) {
          margin-right: 0; } }
  .front-community .field-name-ds-user-picture {
    border-radius: 100%;
    overflow: hidden;
    border: 6px #5D5D63 solid; }
    .front-community .field-name-ds-user-picture img {
      display: block; }

.front-keynote-speakers {
  background: url(../images/hojas-fondo.jpg);
  text-align: center;
  padding-top: 30px; }
  .front-keynote-speakers .pane-title {
    color: #fff;
    font-size: 24px;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 3px #22936A;
    padding-bottom: 10px;
    margin-bottom: 90px;
    display: inline-block; }
  .front-keynote-speakers .views-row {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    width: 90%; }
    @media screen and (min-width: 601px)  {
      .front-keynote-speakers .views-row {
        width: 40%;
        height: 260px; } }
    @media screen and (min-width: 960px)  {
      .front-keynote-speakers .views-row {
        width: 350px;
        height: 220px; } }
  .front-keynote-speakers .views-row-first {
    margin-bottom: 80px; }
    @media screen and (min-width: 601px)  {
      .front-keynote-speakers .views-row-first {
        margin-right: 50px;
        margin-bottom: 50px; } }
  .front-keynote-speakers .field-name-title h4 {
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px; }
  .front-keynote-speakers .field-name-field-speaker-title {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 20px; }
  .front-keynote-speakers .field-name-field-photo {
    border-radius: 100%;
    border: solid 4px #fff;
    background: #fff;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-top: -150px;
    overflow: hidden; }
  .front-keynote-speakers .more-link {
    text-align: center; }
    .front-keynote-speakers .more-link a {
      background: #E35534;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      cursor: pointer;
      display: block;
      font-size: 15px;
      font-size: 1.5rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      text-align: center;
      display: inline-block;
      margin-bottom: 50px; }
      .front-keynote-speakers .more-link a:after {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 7px solid #fff;
        content: "";
        font-size: 1px;
        text-align: right;
        margin: 5px 0 0 10px;
        display: inline-block;
        vertical-align: top; }
      .front-keynote-speakers .more-link a:hover {
        background: #c83c1c; }

.front-sponsors {
  width: 95%;
  margin: 80px auto 40px; }
  @media screen and (min-width: 601px)  {
    .front-sponsors {
      width: 90%; } }
  .front-sponsors .item-list {
    overflow: hidden;
    margin-bottom: 40px; }
    .front-sponsors .item-list li {
      text-align: center;
      margin-bottom: 70px;
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      .front-sponsors .item-list li:last-child {
        margin-right: 0; }
      @media screen and (min-width: 601px)  {
        .front-sponsors .item-list li {
          float: left;
          display: block;
          margin-right: 3.5786636068%;
          width: 22.3160022949%; }
          .front-sponsors .item-list li:last-child {
            margin-right: 0; }
          .front-sponsors .item-list li:nth-child(4n) {
            margin-right: 0; }
          .front-sponsors .item-list li:nth-child(4n+1) {
            clear: left; } }
      .front-sponsors .item-list li a {
        display: inline-block; }
  .front-sponsors .pane-title {
    text-align: center;
    font-size: 22px;
    font-size: 2.2rem;
    text-transform: uppercase;
    border-top: solid 1px #ddd;
    position: relative;
    padding-top: 20px;
    margin-bottom: 20px; }
    .front-sponsors .pane-title:before, .front-sponsors .pane-title:after {
      content: '';
      width: 6px;
      height: 6px;
      background: #ddd;
      border-radius: 100%;
      display: block;
      top: -4px;
      position: absolute; }
    .front-sponsors .pane-title:before {
      left: 0; }
    .front-sponsors .pane-title:after {
      right: 0; }
  .front-sponsors .more-link {
    text-align: center; }
    .front-sponsors .more-link a {
      background: #52E2AE;
      color: #3C3C44;
      padding: 10px 20px;
      text-decoration: none;
      cursor: pointer;
      display: block;
      font-size: 15px;
      font-size: 1.5rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      text-align: center;
      display: inline-block;
      margin-bottom: 50px; }
      .front-sponsors .more-link a:after {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 7px solid #3C3C44;
        content: "";
        font-size: 1px;
        text-align: right;
        margin: 5px 0 0 10px;
        display: inline-block;
        vertical-align: top; }
      .front-sponsors .more-link a:hover {
        background: #26db9a; }

.pane-dccr-blocks-dccr-register-image-link-block {
  padding-top: 253px;
  background: url(../images/register-people.png) no-repeat center top;
  background-size: 257px 233px; }
  .pane-dccr-blocks-dccr-register-image-link-block a {
    font-size: 15px;
    font-size: 1.5rem;
    background: #3C3C44;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    padding: 20px 35px; }
    .pane-dccr-blocks-dccr-register-image-link-block a:after {
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 7px solid #fff;
      content: "";
      font-size: 1px;
      text-align: right;
      margin: 5px 0 0 10px;
      display: inline-block;
      vertical-align: top; }
    .pane-dccr-blocks-dccr-register-image-link-block a:hover {
      background: #242429; }
  .pane-dccr-blocks-dccr-register-image-link-block .link-main {
    margin-right: 10px;
    text-transform: uppercase; }

.pane-dccr-blocks-dccr-social-block-sidebar ul {
  margin-bottom: 0; }
.pane-dccr-blocks-dccr-social-block-sidebar .pane-title {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  margin-right: 20px;
  margin-bottom: 0;
  padding-top: 3px; }
.pane-dccr-blocks-dccr-social-block-sidebar .social-link {
  width: 24px;
  height: 24px;
  background-image: url(../images/sprite.png);
  background-image: url(../images/sprite.svg), none;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  margin-right: 5px; }
  .pane-dccr-blocks-dccr-social-block-sidebar .social-link.facebook {
    background-position: -1px -28px; }
  .pane-dccr-blocks-dccr-social-block-sidebar .social-link.twitter {
    background-position: -1px -1px; }
  .pane-dccr-blocks-dccr-social-block-sidebar .social-link.drupal {
    background-position: -1px -55px; }

.pane-views-tracks-block {
  overflow: hidden; }
  .pane-views-tracks-block .track-name-list {
    margin-bottom: 0; }
  .pane-views-tracks-block .track-name {
    float: left;
    display: block;
    margin-right: 7.4229703521%;
    width: 46.288514824%;
    margin-bottom: 10px; }
    @media (min-width: 601px) and (max-width: 835px) {
      .pane-views-tracks-block .track-name {
        display: block;
        width: 100%;
        margin: 0 0 15px !important; } }
    .pane-views-tracks-block .track-name:last-child {
      margin-right: 0; }
    .pane-views-tracks-block .track-name:nth-child(2n) {
      margin-right: 0; }
    .pane-views-tracks-block .track-name:nth-child(2n+1) {
      clear: left; }
    .pane-views-tracks-block .track-name a {
      font-size: 15px;
      font-size: 1.5rem;
      background: #33B78B;
      border-radius: 3px;
      cursor: pointer;
      color: #fff;
      display: block;
      padding: 10px;
      text-decoration: none;
      text-align: center; }
      .pane-views-tracks-block .track-name a:hover {
        background: #288f6d; }

.pane-dccr-blocks-dccr-faq-block ul {
  margin-bottom: 0; }
.pane-dccr-blocks-dccr-faq-block a {
  color: #000; }
  .pane-dccr-blocks-dccr-faq-block a:hover {
    color: #33B78B; }

.pane-dccr-blocks-dccr-important-dates {
  background: #E35534;
  padding: 15px;
  border-radius: 3px;
  color: #fff; }
  .pane-dccr-blocks-dccr-important-dates .pane-title {
    border-bottom: solid 1px #fff;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  @media screen and (min-width: 601px)  {
    .pane-dccr-blocks-dccr-important-dates ul {
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
      -moz-column-fill: auto;
      column-fill: auto; } }
  .pane-dccr-blocks-dccr-important-dates .date {
    font-weight: bold; }
    .pane-dccr-blocks-dccr-important-dates .date:before {
      content: '\00BB  '; }
  .pane-dccr-blocks-dccr-important-dates .event {
    font-size: 14px;
    font-size: 1.4rem;
    padding-left: 10px; }

.pane-dccr-ftr-sponsors-sponsors-info .pane-content a {
  font-size: 15px;
  font-size: 1.5rem;
  background: #3C3C44;
  border-radius: 3px;
  cursor: pointer;
  color: #EAEA63;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center; }
  .pane-dccr-ftr-sponsors-sponsors-info .pane-content a:after {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #EAEA63;
    content: "";
    font-size: 1px;
    text-align: right;
    margin: 5px 0 0 10px;
    display: inline-block;
    vertical-align: top; }
  .pane-dccr-ftr-sponsors-sponsors-info .pane-content a:hover {
    background: #242429; }
.pane-dccr-ftr-sponsors-sponsors-info .pane-content .link-main {
  display: block;
  font-size: 24px;
  font-size: 2.4rem; }

/* Sponsors main view */
.pane-views-sponsors-sponsors-block .view-id-sponsors {
  padding: 10px 0; }
.pane-views-sponsors-sponsors-block h3 {
  font-size: 45px;
  display: block;
  width: 100%;
  text-align: center;
  height: 150px;
  line-height: 210px;
  border-bottom: 1px solid #DDDDDD;
  margin: 80px 0 30px 0;
  clear: left; }
.pane-views-sponsors-sponsors-block .sponsors-wrapper {
  overflow: hidden; }
.pane-views-sponsors-sponsors-block .platinum {
  color: #86816F;
  background: url(../images/platino.png) no-repeat top center; }
.pane-views-sponsors-sponsors-block .golden {
  color: #D0BA31;
  background: url(../images/oro.png) no-repeat top center; }
.pane-views-sponsors-sponsors-block .silver {
  color: #5D5D5D;
  background: url(../images/plata.png) no-repeat top center; }
.pane-views-sponsors-sponsors-block .bronze {
  color: #996F1C;
  background: url(../images/bronce.png) no-repeat top center; }
.pane-views-sponsors-sponsors-block .views-row {
  text-align: center;
  width: 30%;
  float: left;
  margin: 1% 3% 5% 0; }
  .pane-views-sponsors-sponsors-block .views-row a {
    display: inline-block; }
  .pane-views-sponsors-sponsors-block .views-row:nth-child(3n+1), .pane-views-sponsors-sponsors-block .views-row:nth-child(6n+1) {
    clear: left; }

#block-dccr-blocks-proposed-sessions-header {
  margin-bottom: 15px; }
  @media screen and (min-width: 601px)  {
    #block-dccr-blocks-proposed-sessions-header {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%;
      margin-bottom: 0; }
      #block-dccr-blocks-proposed-sessions-header:last-child {
        margin-right: 0; } }
  #block-dccr-blocks-proposed-sessions-header h2 {
    border-bottom: 0;
    margin-bottom: 0; }

@media screen and (min-width: 601px)  {
  #block-dccr-blocks-propose-sessions-link {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    margin-right: 0; }
    #block-dccr-blocks-propose-sessions-link:last-child {
      margin-right: 0; } }
#block-dccr-blocks-propose-sessions-link .content a {
  font-size: 15px;
  font-size: 1.5rem;
  background: #E35534;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 20px;
  text-transform: uppercase; }
  #block-dccr-blocks-propose-sessions-link .content a:after {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #fff;
    content: "";
    font-size: 1px;
    text-align: right;
    margin: 5px 0 0 10px;
    display: inline-block;
    vertical-align: top; }
  #block-dccr-blocks-propose-sessions-link .content a:hover {
    background: #c83c1c; }
  @media screen and (min-width: 601px)  {
    #block-dccr-blocks-propose-sessions-link .content a {
      margin-top: 50px; } }

#block-views-proposed-sessions-list-block {
  clear: both; }

.proposed-sessions-list {
  padding-top: 15px; }
  @media screen and (min-width: 601px)  {
    .proposed-sessions-list {
      padding-top: 30px; } }
  .proposed-sessions-list .views-exposed-widget {
    float: none;
    padding: 0; }
  .proposed-sessions-list .view-filters {
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: solid 2px #33B78B; }
  @media screen and (min-width: 601px)  {
    .proposed-sessions-list .form-type-bef-link {
      display: inline-block; } }
  .proposed-sessions-list .form-type-bef-link a {
    font-size: 15px;
    font-size: 1.5rem;
    background: #33B78B;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    margin-bottom: 10px; }
    .proposed-sessions-list .form-type-bef-link a:hover {
      background: #288f6d; }
    @media screen and (min-width: 601px)  {
      .proposed-sessions-list .form-type-bef-link a {
        margin-bottom: 0; } }
  .proposed-sessions-list .views-table {
    width: 100%; }

.entitytype-dccr_payment_submission_form-form .field-name-field-payment-receipt {
  margin: 3em 0 2em 0; }
.entitytype-dccr_payment_submission_form-form .form-item-field-paying-others-und label {
  font-style: italic; }
.entitytype-dccr_payment_submission_form-form .form-actions {
  margin-top: 3em; }

/*# sourceMappingURL=styles.css.map */