// menus
#block-menu-menu-left-menu {
  width: 50%;
  float: left;
  position: relative;
  z-index: 10;
  @media (min-width: 500px) {
    width: 30%;
  }
  @media (min-width: 800px) {
    width: 45%;
  }
}
#block-menu-menu-right-menu {
  width: 40%;
  float: right;
  position: relative;
  z-index: 10;
  @media (min-width: 500px) {
    width: 30%;
  }
  @media (min-width: 800px) {
    width: 45%;
  }
  ul {
    float: right;
  }
}

.header-content {
  .menu {
    overflow: hidden;
    margin: 0;
    padding-left: 0;
    li {
      @include font-size(15);
      list-style: none;
      margin: 0 2px 5px;
      padding: 0;
      @include media($tablet) {
        float: left;
        margin: 0 2px 5px;
      }
      a {
        color: black;
        display: inline-block;
        padding: 5px 10px;
      }
    }
    li:hover a,
    li a.active {
      background: $gris-claro;
      border-radius: 4px;
    }
  }  
}
