.event-footer {
  background: #3C3C44;
  padding: 35px 15px;
  color: $verde-turquesa;
  border-bottom: 8px solid $verde-turquesa;
  overflow: hidden;
  a {
    color: $verde-turquesa;
  }
}
.event-footer-title {
  color: #fff;
  text-transform: uppercase;
  @include font-size(16);
}

.event-footer-description {
  margin-bottom: 1em;
}
.event-footer-description-contact {
  margin-bottom: 0.3em;
}

.event-footer-description-trademark {
  color: #5d5d5d;
  margin-bottom: 0;
}
.event-footer-left, .event-footer-right {
  @include media($tablet) {
    float: left;
  }
}

.event-footer-left {
  @include media($tablet) {
    width: 80%;
  }
}

.event-footer-right {
  @include media($tablet) {
    text-align: right;
    width: 20%;
  }
}
