.pane-dccr-ftr-sponsors-sponsors-info {
  .pane-title {
    @extend %sidebar-title-uppercase;
  }
  .pane-content {
    a {
      @include button-round(#3C3C44,  #EAEA63,  $arrow:yes);
    }
    .link-main {
      display: block;
      @include font-size(24);
    }
  }
}


/* Sponsors main view */
.pane-views-sponsors-sponsors-block{
  
  .view-id-sponsors{
    padding: 10px 0;
  }


  h3{
    font-size: 45px;
    display: block;
    width: 100%;
    text-align: center;
    height: 150px;
    line-height: 210px;
    border-bottom: 1px solid $gris-suave;
    margin: 80px 0 30px 0;
    clear: left;
  }

  .sponsors-wrapper{
    overflow: hidden;
  }

  .platinum{
    color: $platino;
    background: url(../images/platino.png) no-repeat top center;
  }

  .golden{
    color: $oro;
    background: url(../images/oro.png) no-repeat top center;
  }

  .silver{
    color: $plata;
    background: url(../images/plata.png) no-repeat top center;
  }

  .bronze{
    color: $bronce;
    background: url(../images/bronce.png) no-repeat top center;
  }


  .views-row{
    text-align: center;
    @extend %reset-list;
    margin: 1% 7px 5%; 
    display: inline-block;
    vertical-align: top;
    a{
      display: inline-block;
    }
  }
}
.sponsors-wrapper {
  text-align: center;
}