.pane-views-tracks-block {
  overflow: hidden;
  .pane-title {
    @extend %sidebar-title-uppercase;
  }
  .track-name-list {
    margin-bottom: 0;
  }
  .track-name {
    @extend %reset-list;
    @extend %inline-list;
    @extend %horizontal-list;
    @media (min-width: 601px) and (max-width: 835px) {
      display: block;
      width: 100%;
      margin: 0 0 15px !important;
    }
    @include span-columns(2 of 4);
    @include omega(2n);
    margin-bottom: 10px;
    a {
      @include button-round($verde-turquesa, #fff, $arrow:no);
    }
  }
}