.entitytype-dccr_payment_submission_form-form{

	.field-name-field-payment-receipt{
		margin: 3em 0 2em 0;
	}
	
	.form-item-field-paying-others-und{
		label{
			font-style: italic;
		}
	}

	.form-actions{
		margin-top: 3em;
	}

}